.nav_Top{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    z-index: 100;
    padding: 10px 10%;

}
.nav_Item{
    font-size: 17px;
    font-weight: 500;
}
.nav_Item > ul{
    display: flex;
    gap: 30px;
    list-style: none;
    text-decoration: none;
    cursor: default;
    transition: .3s;
}
a:hover {
    color: #00abf0;
}